.navbar.navbar-static-top
  .navbar-inner
    .container
      .brand
        Лапа
        %img(src='images/lapa-tiny.png')
      %ul.nav
        %li= link_to 'Про нас', "/"
        %li= link_to 'Лікарі', '/doctors.html'
        %li= link_to 'Контакт', '/contact.html'
